* {
  font-size: 18px;
}
/* Nav */
/* Estilos para dispositivos de escritorio */
.Site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fa2020;
  position: fixed;
  margin: -1px;
  z-index: 9999;
  height: 7%;
}

.promo-section__title {
  font-size: 1.1em;
  font-weight: normal;
  transition: transform 0.3s;
}

.promo-section__title:hover {
  transform: scale(1.1);
}

.promo-section__title a {
  color: #ffffff;
  text-decoration: none;
  padding: 25px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.promo-section__title a:hover {
  text-decoration: none;
  color: #ffffff;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0.7em;
  margin-top: 2em;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item__link {
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
}

.menu-item__link:hover {
  background-color: #51af45;
  color: #fff;
  border-radius: 13px;
  text-decoration: none;
  padding: 0.2em;
}

/* Estilos para el icono-menú responsive */
.toggle-menu img {
  max-width: 50%;
}

.toggle-menu {
  display: none;
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 768px) {
  /* Responsive Nav */
  .menu-list {
    display: none;
  }
  .toggle-menu {
    display: block;
    position: absolute;
    top: 0.1rem;
    right: -0.5rem;
    cursor: pointer;
    width: 40px;
  }
  .menu-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 1.97rem;
    left: 16.2rem;
    background-color: #fa2020;
    padding: 1rem;
    z-index: 999;
  }
  .menu-item {
    margin-bottom: 10px;
  }

  /* Responsive Site Main */

  .image-overlay,
  .button-container,
  .price {
    text-align: center;
  }
}

/* Estilos para pantallas más grandes que un tamaño de escritorio */
@media screen and (min-width: 1024px) {
  .menu-list {
    display: flex;
    flex-grow: 1;
  }

  .toggle-menu {
    display: none;
  }
}

/* El siguiente codigo es el Main */
/* El siguiente codigo es el Main-promo-section */

.site-main {
  overflow-x: hidden;
}

.carousel-item img {
  width: 4em;
  height: 32.5em;
}

.carousel-item {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  text-align: left;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000000;
}

.custom-font-size {
  font-size: 1.7em;
  font-weight: bold;
}

.image-overlay,
.button-container,
.price {
  text-align: left;
}

/* News-section*/

.news-section-F,
.news-section-S {
  margin: 1em;
  margin-bottom: 6em;
}

.news-title,
.news-description {
  text-align: center;
}

.card-img-top {
  width: 12em;
  height: 12em;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

/* Millas bs */

.Millas-banner {
  width: 100%;
  height: 28em;
}

.millas-banner-container {
  position: relative;
}

.millas-text-banner {
  position: absolute;
  top: 38%;
  left: 34%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.millas-section__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.millas-section__text2 {
  font-family: "Arial", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.content-program-millas {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-center-millas-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#Subtitle-M {
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .Millas-banner {
    height: 20em;
  }
}

@media (max-width: 576px) {
  .millas-section__text1 {
    font-size: 2rem;
  }

  .millas-section__text2 {
    font-size: 1rem;
  }

  .text-center-millas-1 {
    font-size: 1.5rem;
  }
}
