* {
  font-size: 18px;
}

/* Nav */

.Site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fa2020;
  position: fixed;
  margin: -1px;
  z-index: 9999;
  height: 7%;
}

.promo-section__title {
  font-size: 1.1em;
  font-weight: normal;
  transition: transform 0.3s;
}

.promo-section__title:hover {
  transform: scale(1.1);
}

.promo-section__title a {
  color: #ffffff;
  text-decoration: none;
  padding: 25px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.promo-section__title a:hover {
  text-decoration: none;
  color: #ffffff;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0.7em;
  margin-top: 2em;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-bottom: 20px;
  transform: scale(1.1);
}

.menu-item:hover {
  transition: transform 0.3s;
}

.menu-item__link {
  color: #ffffff;
  text-decoration: none;
  padding: 9px;
}

.menu-item__link:hover {
  color: #fff;
  border-radius: 13px;
  text-decoration: none;
  padding: 0.9em;
}

/* Estilos para el icono-menú responsive */
.toggle-menu img {
  max-width: 50%;
}

.toggle-menu {
  display: none;
}

/*El siguiente codigo es ofertas de viaje.html*/

/* El siguiente codigo es el Main */
/* El siguiente codigo es el Main-promo-section */

.site-main {
  overflow-x: hidden;
}

.carousel-item img {
  width: 4em;
  height: 32.5em;
}

.carousel-item {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  text-align: left;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000000;
}

.custom-font-size {
  font-size: 1.7em;
  font-weight: bold;
}

.image-overlay,
.button-container,
.price {
  text-align: left;
}

/* News-section*/

.news-section-F,
.news-section-S {
  margin: 1em;
  margin-bottom: 6em;
}

.news-title,
.news-description {
  text-align: center;
}

.card-img-top {
  width: 22.5em;
  height: 12em;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}
  

/*  Datepicker-field (Cuando viajas) */
.datepicker-field {
border: .1em solid #f34c4c;
border-radius: 1.5em;
padding: .1em;
height: 1.8em;
      }
  
 /* Estilos adicionales para los botones de "Salida" y "Vuelta" al tener el foco */
.datepicker-field:focus {
 outline: none; 
 }
  
 /* Estilos para el botón que se muestra al hacer clic */
.ui-datepicker-trigger {
 background-color: #8f8f8f; 
 color: #fff8f8; 
 border: none; 
 padding: .1em .6em; 
 border-radius: .6em; 
 cursor: pointer; 
 margin: .2em 1em;
} 
  
 /* Estilos adicionales al pasar el mouse sobre el botón */
 .ui-datepicker-trigger:hover {
  background-color: #fc3264; 
 }

/* Main-container */
.main-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;
top: .8em;
right:  -6em;
}
  
   /* Sub-Container*/
.Sub-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;
top: -6.7em;
right:  -9em;
}




/*El siguiente codigo es el Mis viajes.html*/

.img-banner {
  max-width: 100%;
  height: 50rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #7edda9f5;
  margin: 50px;
  padding: 20px;
}

.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px;
}

.form__input {
  width: 85%;
  padding: 0.5em;
  margin: 1em;
  border: none;
  border-bottom: 3px solid #51af45;
  background: transparent;
  color: #fff;
}

.form__input:focus {
  background: linear-gradient(to bottom, transparent, #4b4242);
  outline: none;
  border-bottom: 3px solid rgb(109, 233, 115);
}

.form-img {
  flex: 1;
  padding: 10px;
  display: flex;
}

.img-container {
  margin: auto;
}

.img-container div {
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 40px;
}

.form-img img {
  width: 65%;
  margin: auto;
}

.form input[type="submit"] {
  background-color: #51af45;
}

.perfil-name-container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.text-center-title-welcome {
  font-size: 50px;
}

.welcome-perfil {
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 20px;
}

.tabH {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  justify-content: center;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.tab li {
  padding: 0.7em;
  text-align: center;
  transition: transform 0.3s ease; 
}

.tab li:hover {
  transform: translateY(-5px); /* Aplica una translación vertical de -5px (hacia arriba) al hacer hover */
}

.tab li a {
  text-decoration: none; /* Quital el subrayado */
}



.tab span {
  color: #000000;
}

.ico-exclamacion,
.ico-MP,
.ico-MV {
  width: 1em;
  display: flexbox;
  margin: 0 0.6em;
}



.footer__text {
  text-align: center;
  margin-bottom: -0.5em;
}

/*El siguiente codigo es  Millas.html*/

.Millas-banner {
  width: 100%;
  height: 28em;
}

.millas-banner-container {
  position: relative;
}

.millas-text-banner {
  position: absolute;
  top: 38%;
  left: 34%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.millas-section__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.millas-section__text2 {
  font-family: "Arial", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.content-program-millas {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-center-millas-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#Subtitle-M {
  font-weight: bold;
}
/*El siguiente codigo es  Ayuda.html*/

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}
.Ayuda-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 5px 0;
  width: 100%; /* Cambia el ancho al 100% del contenedor padre */
  max-width: 100%;
}

.imagen-container {
  display: flex;
  flex-direction: column;
}

.Ayuda-banner {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buscador {
  display: flex;
  align-items: center;
}

.buscador input[type="text"] {
  border-radius: 1em;
  margin-right: -8px;
  border: 2px solid transparent;
  animation: cambio-color 5s infinite; /* Aplica la animación con una duración de 5 segundos y se repite infinitamente */
  transition: all 0.3s ease; /* Agrega una transición de 0.3 segundos con aceleración */
}


@keyframes cambio-color {
  0% { border-color: #ff0000; } /* Color inicial del borde */
  25% { border-color: #00ff00; } /* Color a los 25% de la animación */
  50% { border-color: #0000ff; } /* Color a los 50% de la animación */
  75% { border-color: #ffff00; } /* Color a los 75% de la animación */
  100% { border-color: #ff00ff; } /* Color final del borde */
}

.buscador input[type="text"]:hover,
.buscador input[type="text"]:focus {
  transform: scale(1.05); /* Aplica una escala del 105% al hacer hover o focus en el campo */
}

.buscador button {
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.4em 0.8em; /* Aumenta el padding horizontal */
  border-radius: 1em;
  margin-left: 9px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.buscador button:hover {
  transform: scale(1.1);
}

.ayuda-container {
  background-color: rgb(212, 82, 169);
  color: #fff;
  border-radius: 8px;
  padding: 30px;
}

.ayuda-button {
  background-color: #e0c995;
  border: none;
  color: #020202;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ayuda-button:hover {
  background-color: #dd2828;
  color: #fff;
}

.inicio-ayuda {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Ayuda acticle */

.title-consultas-categorias {
  font-size: 25px;
}

.list-categorias {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8em;
  justify-items: space-between;
}

.list-01,
.list-02,
.list-03,
.list-04 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.antes-de-tu-viaje-01,
.equipaje-02,
.Tu-Reserva,
.Niñosybebés {
  text-decoration: none;
  color: #333;
}

.ico-passaport,
.ico-equipaje,
.ico-nyb {
  width: 7em;
  height: 7em;
  transition: transform 0.3s ease;
}


.ico-passaport:hover,
.ico-equipaje:hover,
.ico-reserva:hover,
.ico-nyb:hover {
  transform: scale(1.1); /* Aplica una escala del 110% al hacer hover */
}

.ico-reserva {
  width: 5em;
  height: 5em;
  transition: transform 0.3s ease;
}

.text-antesdetuviaje,
.text-equipaje,
.text-reserva,
.text-nyb {
  font-weight: bold;
  margin-top: 10px;
  color: #020202;
  transition: transform 0.3s ease; 
}

.text-antesdetuviaje:hover,
.text-equipaje:hover,
.text-reserva:hover,
.text-nyb:hover {
  transform: translateY(-5px);
}

/*El siguiente codigo es Menu.html*/

.container-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.DescubreyCompra,
.Antes-de-tu-viaje,
.Tu-reserva,
.Servicios-adicionales {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-text {
  transition: transform 0.3s ease; /* Agrega una transición de 0.3 segundos con aceleración a la propiedad transform */
}

.sub-text:hover {
  transform: translateY(-5px); /* Aplica una translación vertical de -5px (hacia arriba) al hacer hover */
}


.list-DyC,
.list-AV,
.list-TR,
.list-SA {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Cambia de "row" a "column" para mostrar los elementos uno debajo del otro */
  justify-content: center;
}

.list-DyC li,
.list-AV li,
.list-TR li,
.list-SA li {
  margin-bottom: 3px;
  margin-right: -40px;
   transition: transform 0.3s ease; 
}

.list-DyC li:hover,
.list-AV li:hover,
.list-TR li:hover,
.list-SA li:hover {
  transform: translateX(5px); /* Aplica una translación horizontal de 5px al hacer hover */
}

.list-DyC li a,
.list-AV li a,
.list-TR li a,
.list-SA li a {
  text-decoration: none;
  color: #000000;
}

.Menu-section {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  
}

.DyC-icono,
.AV-icono,
.TR-icono,
.SA-icono {
  height: 1.8em;
  transition: all 0.3s ease; /* Agrega una transición de 0.3 segundos con aceleración */
}

.DyC-icono:hover,
.AV-icono:hover,
.TR-icono:hover,
.SA-icono:hover {
  transform: rotate(360deg); /* Aplica una rotación de 360 grados al hacer hover */
}


.footer-modif {
  margin-bottom: auto;
  text-align: center;
  width: 100%;
}

/* Media queries */

@media screen and (max-width: 600px) {
  /* Responsive Nav */
  .menu-list {
    display: none;
  }
  .toggle-menu {
    display: block;
    position: absolute;
    top: 0.6rem;
    right: -0.5rem;
    cursor: pointer;
    width: 40px;
  }
  .menu-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 1.97rem;
    left: 16.2rem;
    background-color: #fa2020;
    padding: 1rem;
    z-index: 999;
  }
  .menu-item {
    margin-bottom: 10px;
  }

  /* Ayuda section */
}

@media screen and (max-width: 768px) {
  /* Responsive Nav */
  .menu-list {
    display: none;
  }
  .toggle-menu {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
    cursor: pointer;
    width: 40px;
  }
  .menu-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 1.97rem;
    left: 16.2rem;
    background-color: #fa2020;
    padding: 1rem;
    z-index: 999;
  }
  .menu-item {
    margin-bottom: 10px;
  }
  /* Responsive Mis viajes  TabH */
  .TabH {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .Tab li {
    flex-basis: auto;
  }
  /* Ayuda "Ayuda-section" */
  .Ayuda-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .imagen-container {
    order: 2; /* Cambia el orden del elemento en la columna */
  }

  .container-ayuda-total {
    order: 3; /* Cambia el orden del elemento en la columna */
  }
}

/* Estilos para pantallas más grandes que un tamaño de escritorio */
@media screen and (min-width: 1024px) {
  .menu-list {
    display: flex;
    flex-grow: 1;
  }

  .toggle-menu {
    display: none;
  }
}
