@charset "UTF-8";
/* Nav */
/* Nav */
.Site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fa2020;
  position: fixed;
  margin: -1px;
  z-index: 9999;
  height: 7%;
}
.Site-header .promo-section__title {
  font-size: 1.1em;
  font-weight: normal;
  transition: transform 0.3s;
}
.Site-header .promo-section__title:hover {
  transform: scale(1.1);
}
.Site-header .promo-section__title a {
  color: #ffffff;
  text-decoration: none;
  padding: 25px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}
.Site-header .promo-section__title a:hover {
  text-decoration: none;
  color: #ffffff;
}
.Site-header .main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0.7em;
  margin-top: 2em;
}
.Site-header .main-nav .menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.Site-header .main-nav .menu-list .menu-item {
  margin-bottom: 20px;
  transform: scale(1.1);
}
.Site-header .main-nav .menu-list .menu-item:hover {
  transition: transform 0.3s;
}
.Site-header .main-nav .menu-list .menu-item .menu-item__link {
  color: #ffffff;
  text-decoration: none;
  padding: 9px;
}
.Site-header .main-nav .menu-list .menu-item .menu-item__link:hover {
  color: #ffffff;
  border-radius: 13px;
  text-decoration: none;
  padding: 0.9em;
}
.Site-header .toggle-menu {
  display: none;
}
.Site-header .toggle-menu img {
  max-width: 50%;
}

/* El siguiente codigo es el Main */
.site-main {
  overflow-x: hidden;
}
.site-main .carousel-item img {
  width: 4em;
  height: 32.5em;
}
.site-main .image-overlay,
.site-main .button-container,
.site-main .price {
  text-align: left;
}

/*El siguiente codigo es el Mis viajes.html*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(126, 221, 169, 0.9607843137);
  margin: 50px;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 20px;
}

.tabH {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  justify-content: center;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.tab li {
  padding: 0.7em;
  text-align: center;
  transition: transform 0.3s ease;
}
.tab li:hover {
  transform: translateY(-5px);
}
.tab li a {
  text-decoration: none;
}

.tab span {
  color: #000000;
}

.ico-exclamacion,
.ico-MP,
.ico-MV {
  width: 1em;
  display: flexbox;
  margin: 0 0.6em;
}

/* Menu */
.container-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}
.container-menu .DescubreyCompra,
.container-menu .Antes-de-tu-viaje,
.container-menu .Tu-reserva,
.container-menu .Servicios-adicionales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-menu .DescubreyCompra .sub-text,
.container-menu .Antes-de-tu-viaje .sub-text,
.container-menu .Tu-reserva .sub-text,
.container-menu .Servicios-adicionales .sub-text {
  transition: transform 0.3s ease;
}
.container-menu .DescubreyCompra .sub-text:hover,
.container-menu .Antes-de-tu-viaje .sub-text:hover,
.container-menu .Tu-reserva .sub-text:hover,
.container-menu .Servicios-adicionales .sub-text:hover {
  transform: translateY(-5px);
}
.container-menu .list-DyC,
.container-menu .list-AV,
.container-menu .list-TR,
.container-menu .list-SA {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-menu .list-DyC li,
.container-menu .list-AV li,
.container-menu .list-TR li,
.container-menu .list-SA li {
  margin-bottom: 3px;
  margin-right: -40px;
  transition: transform 0.3s ease;
}
.container-menu .list-DyC li:hover,
.container-menu .list-AV li:hover,
.container-menu .list-TR li:hover,
.container-menu .list-SA li:hover {
  transform: translateX(5px);
}
.container-menu .list-DyC li a,
.container-menu .list-AV li a,
.container-menu .list-TR li a,
.container-menu .list-SA li a {
  text-decoration: none;
  color: #000000;
}

.Menu-section {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.Menu-section .DyC-icono,
.Menu-section .AV-icono,
.Menu-section .TR-icono,
.Menu-section .SA-icono {
  height: 3.3em;
  transition: all 0.3s ease;
}
.Menu-section .DyC-icono:hover,
.Menu-section .AV-icono:hover,
.Menu-section .TR-icono:hover,
.Menu-section .SA-icono:hover {
  transform: rotate(360deg);
}

.carousel-item {
  position: relative;
}
.carousel-item .image-overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000000;
}
.carousel-item .custom-font-size {
  font-size: 1.7em;
  font-weight: bold;
}

.card-img-top {
  width: 22.5em;
  height: 12em;
  transition: transform 0.3s ease;
}
.card-img-top:hover {
  transform: scale(1.1);
}

/*El siguiente codigo es el Mis viajes.html*/
.img-container {
  margin: auto;
}
.img-container div {
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 40px;
}

.img-banner {
  max-width: 100%;
  width: 100%;
  height: 50rem;
}

.datepicker-field {
  border: 0.1em solid #f34c4c;
  border-radius: 1.5em;
  padding: 0.1em;
  height: 1.8em;
}
.datepicker-field:focus {
  outline: none;
}

.ui-datepicker-trigger {
  background-color: #8f8f8f;
  color: #ffffff;
  border: none;
  padding: 0.1em 0.6em;
  border-radius: 0.6em;
  cursor: pointer;
  margin: 0.2em 1em;
}
.ui-datepicker-trigger:hover {
  background-color: #fc3264;
}

/*El siguiente codigo es el Mis viajes.html*/
.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px;
}
.form__input {
  width: 85%;
  padding: 0.5em;
  margin: 1em;
  border: none;
  border-bottom: 3px solid;
  background: transparent;
  color: #ffffff;
}
.form__input:focus {
  background: linear-gradient(to bottom, transparent, #4b4242);
  outline: none;
  border-bottom: 3px solid rgb(109, 233, 115);
}

.form-img {
  flex: 1;
  padding: 10px;
  display: flex;
}

.form-img img {
  width: 65%;
  margin: auto;
}

input[type=submit] {
  background-color: #51af45;
}

.perfil-name-container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.text-center-title-welcome {
  font-size: 50px;
}

.welcome-perfil {
  margin-top: 10px;
}

.news-section-F,
.news-section-S {
  margin: 1em;
  margin-bottom: 6em;
}
.news-section-F .news-title,
.news-section-F .news-description,
.news-section-S .news-title,
.news-section-S .news-description {
  text-align: center;
}

.Millas-banner {
  width: 100%;
  height: 28em;
}

.millas-text-banner {
  position: absolute;
  top: 38%;
  left: 34%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}
.millas-text-banner .millas-section__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.millas-text-banner .millas-section__text2 {
  font-family: "Arial", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.content-program-millas {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.content-program-millas .text-center-millas-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.content-program-millas #Subtitle-M {
  font-weight: bold;
}

/*El siguiente codigo es  Ayuda.html*/
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  /* Ayuda article */
}
.container .Ayuda-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  max-width: 100%;
  /* Problema con el container y el button */
}
.container .Ayuda-section .imagen-container {
  display: flex;
  flex-direction: column;
}
.container .Ayuda-section .Ayuda-banner {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.container .Ayuda-section .input-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container .Ayuda-section .buscador {
  display: flex;
  align-items: center;
}
.container .Ayuda-section .buscador input[type=text] {
  border-radius: 1em;
  margin-right: -8px;
  border: 2px solid transparent;
  animation: cambio-color 5s infinite;
  transition: all 0.3s ease;
}
.container .Ayuda-section .buscador input[type=text]:hover,
.container .Ayuda-section .buscador input[type=text]:focus {
  transform: scale(1.05);
}
.container .Ayuda-section .buscador button {
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.4em 0.8em;
  border-radius: 1em;
  margin-left: 9px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.container .Ayuda-section .buscador button:hover {
  transform: scale(1.1);
}
.container .Ayuda-section .ayuda-container {
  background-color: rgb(212, 82, 169);
  color: #fff;
  border-radius: 8px;
  padding: 30px;
}
.container .Ayuda-section .ayuda-button {
  background-color: #e0c995;
  border: none;
  color: #020202;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.container .Ayuda-section .ayuda-button:hover {
  background-color: #dd2828;
  color: #fff;
}
.container .Ayuda-section .ayuda-button .inicio-ayuda {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.container .title-consultas-categorias {
  font-size: 25px;
}
.container .list-categorias {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8em;
  justify-items: space-between;
}
.container .list-categorias .list-01,
.container .list-categorias .list-02,
.container .list-categorias .list-03,
.container .list-categorias .list-04 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.container .list-categorias .list-01 .antes-de-tu-viaje-01,
.container .list-categorias .list-01 .equipaje-02,
.container .list-categorias .list-01 .Tu-Reserva,
.container .list-categorias .list-01 .Niñosybebés,
.container .list-categorias .list-02 .antes-de-tu-viaje-01,
.container .list-categorias .list-02 .equipaje-02,
.container .list-categorias .list-02 .Tu-Reserva,
.container .list-categorias .list-02 .Niñosybebés,
.container .list-categorias .list-03 .antes-de-tu-viaje-01,
.container .list-categorias .list-03 .equipaje-02,
.container .list-categorias .list-03 .Tu-Reserva,
.container .list-categorias .list-03 .Niñosybebés,
.container .list-categorias .list-04 .antes-de-tu-viaje-01,
.container .list-categorias .list-04 .equipaje-02,
.container .list-categorias .list-04 .Tu-Reserva,
.container .list-categorias .list-04 .Niñosybebés {
  text-decoration: none;
  color: #333;
}
.container .list-categorias .list-01 .ico-passaport,
.container .list-categorias .list-01 .ico-equipaje,
.container .list-categorias .list-01 .ico-nyb,
.container .list-categorias .list-02 .ico-passaport,
.container .list-categorias .list-02 .ico-equipaje,
.container .list-categorias .list-02 .ico-nyb,
.container .list-categorias .list-03 .ico-passaport,
.container .list-categorias .list-03 .ico-equipaje,
.container .list-categorias .list-03 .ico-nyb,
.container .list-categorias .list-04 .ico-passaport,
.container .list-categorias .list-04 .ico-equipaje,
.container .list-categorias .list-04 .ico-nyb {
  width: 7em;
  height: 7em;
  transition: transform 0.3s ease;
}
.container .list-categorias .list-01 .ico-passaport:hover,
.container .list-categorias .list-01 .ico-equipaje:hover,
.container .list-categorias .list-01 .ico-nyb:hover,
.container .list-categorias .list-02 .ico-passaport:hover,
.container .list-categorias .list-02 .ico-equipaje:hover,
.container .list-categorias .list-02 .ico-nyb:hover,
.container .list-categorias .list-03 .ico-passaport:hover,
.container .list-categorias .list-03 .ico-equipaje:hover,
.container .list-categorias .list-03 .ico-nyb:hover,
.container .list-categorias .list-04 .ico-passaport:hover,
.container .list-categorias .list-04 .ico-equipaje:hover,
.container .list-categorias .list-04 .ico-nyb:hover {
  transform: scale(1.1);
}
.container .list-categorias .list-01 .ico-reserva,
.container .list-categorias .list-02 .ico-reserva,
.container .list-categorias .list-03 .ico-reserva,
.container .list-categorias .list-04 .ico-reserva {
  width: 5em;
  height: 5em;
  transition: transform 0.3s ease;
}
.container .list-categorias .list-01 .text-antesdetuviaje,
.container .list-categorias .list-01 .text-equipaje,
.container .list-categorias .list-01 .text-reserva,
.container .list-categorias .list-01 .text-nyb,
.container .list-categorias .list-02 .text-antesdetuviaje,
.container .list-categorias .list-02 .text-equipaje,
.container .list-categorias .list-02 .text-reserva,
.container .list-categorias .list-02 .text-nyb,
.container .list-categorias .list-03 .text-antesdetuviaje,
.container .list-categorias .list-03 .text-equipaje,
.container .list-categorias .list-03 .text-reserva,
.container .list-categorias .list-03 .text-nyb,
.container .list-categorias .list-04 .text-antesdetuviaje,
.container .list-categorias .list-04 .text-equipaje,
.container .list-categorias .list-04 .text-reserva,
.container .list-categorias .list-04 .text-nyb {
  font-weight: bold;
  margin-top: 10px;
  color: #020202;
  transition: transform 0.3s ease;
}
.container .list-categorias .list-01 .text-antesdetuviaje:hover,
.container .list-categorias .list-01 .text-equipaje:hover,
.container .list-categorias .list-01 .text-reserva:hover,
.container .list-categorias .list-01 .text-nyb:hover,
.container .list-categorias .list-02 .text-antesdetuviaje:hover,
.container .list-categorias .list-02 .text-equipaje:hover,
.container .list-categorias .list-02 .text-reserva:hover,
.container .list-categorias .list-02 .text-nyb:hover,
.container .list-categorias .list-03 .text-antesdetuviaje:hover,
.container .list-categorias .list-03 .text-equipaje:hover,
.container .list-categorias .list-03 .text-reserva:hover,
.container .list-categorias .list-03 .text-nyb:hover,
.container .list-categorias .list-04 .text-antesdetuviaje:hover,
.container .list-categorias .list-04 .text-equipaje:hover,
.container .list-categorias .list-04 .text-reserva:hover,
.container .list-categorias .list-04 .text-nyb:hover {
  transform: translateY(-5px);
}

@keyframes cambio-color {
  0% {
    border-color: #ff0000;
  }
  25% {
    border-color: #00ff00;
  }
  50% {
    border-color: #0000ff;
  }
  75% {
    border-color: #ffff00;
  }
  100% {
    border-color: #ff00ff;
  }
}
.container-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}
.container-menu .DescubreyCompra,
.container-menu .Antes-de-tu-viaje,
.container-menu .Tu-reserva,
.container-menu .Servicios-adicionales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-menu .DescubreyCompra .sub-text,
.container-menu .Antes-de-tu-viaje .sub-text,
.container-menu .Tu-reserva .sub-text,
.container-menu .Servicios-adicionales .sub-text {
  transition: transform 0.3s ease;
}
.container-menu .DescubreyCompra .sub-text:hover,
.container-menu .Antes-de-tu-viaje .sub-text:hover,
.container-menu .Tu-reserva .sub-text:hover,
.container-menu .Servicios-adicionales .sub-text:hover {
  transform: translateY(-5px);
}
.container-menu .list-DyC,
.container-menu .list-AV,
.container-menu .list-TR,
.container-menu .list-SA {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-menu .list-DyC li,
.container-menu .list-AV li,
.container-menu .list-TR li,
.container-menu .list-SA li {
  margin-bottom: 3px;
  margin-right: -40px;
  transition: transform 0.3s ease;
}
.container-menu .list-DyC li:hover,
.container-menu .list-AV li:hover,
.container-menu .list-TR li:hover,
.container-menu .list-SA li:hover {
  transform: translateX(5px);
}
.container-menu .list-DyC li a,
.container-menu .list-AV li a,
.container-menu .list-TR li a,
.container-menu .list-SA li a {
  text-decoration: none;
  color: #000000;
}
.container-menu .Menu-section {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.container-menu .Menu-section .DyC-icono,
.container-menu .Menu-section .AV-icono,
.container-menu .Menu-section .TR-icono,
.container-menu .Menu-section .SA-icono {
  height: 1.8em;
  transition: all 0.3s ease;
}
.container-menu .Menu-section .DyC-icono:hover,
.container-menu .Menu-section .AV-icono:hover,
.container-menu .Menu-section .TR-icono:hover,
.container-menu .Menu-section .SA-icono:hover {
  transform: rotate(360deg);
}
.container-menu .footer-modif {
  margin-bottom: auto;
  text-align: center;
  width: 100%;
}

.footer-modif {
  text-align: center;
  margin-bottom: -0.5em;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

/* Media queries */
@media screen and (max-width: 600px) {
  /* Responsive Nav */
  .menu-list {
    display: none;
  }
  .toggle-menu {
    display: block;
    position: absolute;
    top: 0.6rem;
    right: -0.5rem;
    cursor: pointer;
    width: 40px;
  }
  .menu-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 1.97rem;
    left: 16.2rem;
    background-color: #fa2020;
    padding: 1rem;
    z-index: 999;
  }
  .menu-item {
    margin-bottom: 10px;
  }
  /* Ayuda section */
}
@media screen and (max-width: 768px) {
  /* Responsive Nav */
  .menu-list {
    display: none;
  }
  .toggle-menu {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
    cursor: pointer;
    width: 40px;
  }
  .menu-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 1.97rem;
    left: 16.2rem;
    background-color: #fa2020;
    padding: 1rem;
    z-index: 999;
  }
  .menu-item {
    margin-bottom: 10px;
  }
  /* Responsive Mis viajes  TabH */
  .TabH {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .Tab li {
    flex-basis: auto;
  }
  /* Ayuda "Ayuda-section" */
  .Ayuda-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .imagen-container {
    order: 2; /* Cambia el orden del elemento en la columna */
  }
  .container-ayuda-total {
    order: 3; /* Cambia el orden del elemento en la columna */
  }
}
/* Estilos para pantallas más grandes que un tamaño de escritorio */
@media screen and (min-width: 1024px) {
  .menu-list {
    display: flex;
    flex-grow: 1;
  }
  .toggle-menu {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
