$background: (
    color-primary: #fa2020,
    color-secundary: #fff,
    color-tertiary: #8f8f8f,
    color-fourth: #fc3264,
    color-fifth:  #7edda9f5,
    color-sixth: #4b4242,
    color-seventh: #51af45,
    color-eighth:  #000000,
    color-nineth: rgb(212, 82, 169),
    color-tenth: #e0c995,
    );

$colores: (
    color-white: #ffffff,
    color-border: #f34c4c,
    color-black:  #000000,
    color-sombra-oscura-gris:  #333,
    color-border-bottom_1:  #51af45,  
    color-border-bottom_2: rgb(109, 233, 115),
);

$font-size: (
    font-size-base: 1.1em,
);


$cambio-color: (
    border-color-rojo: #ff0000,
    border-color-verde: #00ff00,
    border-color-azul: #0000ff,
    border-color-amarillo: #ffff00,
    border-color-rosa: #ff00ff,
);


