  
/* Estilos generales */

/* Estilos para pantallas más grandes que un tamaño de escritorio */
 /* Responsive Nav */
@media screen and (min-width: 1024px) {
  .toggle-menu {
    display: none;

  .Site-header {
    .main-nav {
      .menu-list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        
        
        }
      }
    }
  }
  
 
  .menu-list {
    display: none;
  }
  
  .Site-header {
    .toggle-menu {
      display: block;
      position: absolute;
      top: 0.6rem;
      right: -0.5rem;
      cursor: pointer;
      width: 40px;
    }
  }
  

  .menu-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 1.97rem;
    left: 16.2rem;
    background-color: map-get($background, color-primary);
    padding: 1rem;
    z-index: 999;
  }
  
  .menu-item {
    margin-bottom: 10px;
  }
  
  
  /* Responsive Nav */
  @media screen and (max-width: 600px) {
    .menu-list {
      display: none;
      
      .Site-header {
        .toggle-menu {
          display: block;
          position: absolute;
          top: 0.6rem;
          right: -0.5rem;
          cursor: pointer;
          width: 40px;
        }
      }
    }
    
    .menu-list.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      text-align: center;
      top: 1.97rem;
      left: 16.2rem;
      background-color: map-get($background, color-primary);
      padding: 1rem;
      z-index: 999;
    }
    
    .menu-item {
      margin-bottom: 10px;
    }
    
  
  /* Responsive Mis viajes TabH */
  @media screen and (max-width: 768px) {
    .TabH {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    .Tab li {
      flex-basis: auto;
    }
  
    /* Ayuda "Ayuda-section" */
    .Ayuda-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .imagen-container {
      order: 2; /* Cambia el orden del elemento en la columna */
    }
  
    .container-ayuda-total {
      order: 3; /* Cambia el orden del elemento en la columna */
    }
  }
}
}