  
/* Estilos generales */
 /* Responsive Nav */

  
  /* Responsive Mis viajes TabH */
  @media screen and (max-width: 768px) {
    .TabH {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    .Tab li {
      flex-basis: auto;
    }
  
    /* Ayuda "Ayuda-section" */
    .Ayuda-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .imagen-container {
      order: 2; /* Cambia el orden del elemento en la columna */
    }
  
    .container-ayuda-total {
      order: 3; /* Cambia el orden del elemento en la columna */
    }
  }

