// Estilos para los campos de fecha (Datepicker-field)
.datepicker-field {
  border: 0.1em solid map-get($colores, color-border);
  border-radius: 1.5em;
  padding: 0.1em;
  height: 1.8em;

  // Estilos adicionales para los campos de fecha cuando tienen el foco
  &:focus {
    outline: none;
  }
}

// Estilos para los botones de "Salida" y "Vuelta" al hacer clic
.ui-datepicker-trigger {
  background-color: map-get($background, color-tertiary);
  color: map-get($colores, color-white);
  border: none;
  padding: 0.1em 0.6em;
  border-radius: 0.6em;
  cursor: pointer;
  margin: 0.2em 1em;

  // Estilos adicionales al pasar el mouse sobre los botones
  &:hover {
    background-color:  map-get($background, color-fourth);
  }
}

 /*El siguiente codigo es el Mis viajes.html*/

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
  
    &__input {
      width: 85%;
      padding: 0.5em;
      margin: 1em;
      border: none;
      border-bottom: 3px solid map-get($colores, color-border-bottom);
      background: transparent;
      color: map-get($colores, color-white);
  
      &:focus {
        background: linear-gradient(to bottom, transparent, map-get($background, color-sixth));
        outline: none;
        border-bottom: 3px solid map-get($colores, color-border-bottom_2);;
      }
    }
  }
  

    .form-img {
      flex: 1;
      padding: 10px;
      display: flex;
    }
  
        .form-img img{
      
        width: 65%;
        margin: auto;
      }
    
  
    input[type="submit"] {
      background-color: map-get($background, color-seventh);
    }
  
  
  .perfil-name-container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .text-center-title-welcome {
    font-size: 50px;
  }
  
  .welcome-perfil {
    margin-top: 10px;
  }


  