  /* Nav */
  .navbarsupportedcontent {
    display: flex;
    flex-direction: column;
  }

  .btn-hover-dark:hover {
    background-color: #000000; /* Color negro */
  }
  
  @media (max-width: 991.98px) {
    .navbar-collapse.collapse.show ul.navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  