  /* Nav */
 
  .btn-hover-dark:hover {
    background-color: #000000; /* Color negro */
  }
  
  .ms-custom {
    margin-left: 60%; /* Ajusta el valor del margen según tus necesidades */
  }

  @media (max-width: 991.98px) {
    .navbar-collapse.collapse.show ul.navbar-nav {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    
  }
  