  /* Nav */
 
  .btn-hover-dark:hover {
    background-color: #000000; /* Color negro */
  }
  
  .left-menu {
    align-items: end;
  }
  

  @media (max-width: 991.98px) {
    .navbar-collapse.collapse.show ul.navbar-nav {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    
  }
  